# Git
*.orig

# IDE files
.idea
*.iml

# Java files
/connectors/grok_connect/target/
/connectors/serialization/target/
/connectors/grok_connect/tmp
/connectors/serialization/tmp
dependency-reduced-pom.xml
*.class
